<div class="container">
  <div class="row">
    <h1>Services</h1>
    <% @services.each do |service| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(service.photo_url), service_path(service) %>
          <div class="caption">
            <h2><%= link_to service.name, service_path(service) %></h2>
            <p><%= image_tag "ic_pets_48px.svg", height: 16 %> <%= service.category.name %></p>
            <p><%= image_tag "ic_euro_symbol_48px.svg", height: 16 %> <%= humanized_money(service.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
