<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="headers"><%= @service.name %></h1>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <%= image_tag(@service.photo_url, width: '88%') %>

        <div class="caption">
          <div class="test">
            <p><%= image_tag "ic_info_48px.svg", height: 16 %></p>
            <p><span><%= @service.description %></span></p>
          </div>
          <p><%= image_tag "ic_euro_symbol_48px.svg", height: 16 %> <%= humanized_money(@service.price) %></p>

          <div class="flatpickr input-group datepicker">

            <a class="input-button date" title="toggle" data-toggle>
              <%= image_tag "calendar-60.svg", height: 16, width: 16 %>
            </a>
            <input type="text" placeholder="Select Date" id="appointment_date" data-input>

            <a class="input-button" title="clear" data-clear>
              <%= image_tag "ic_close_48px.svg", height: 16, width: 16 %>
            </a>
          </div>

          <div class="test">
            <%= form_tag bookings_path do %>
            <%= hidden_field_tag 'service_id', @service.id %>
            <%= hidden_field_tag 'appointment_date', @service.appointment_date %>
            <%= submit_tag 'Book now', class: 'btn btn-primary button-1' %>
            <% end %>

            <%= button_to "Go back", services_path, class: "btn btn-primary button-2", :method => :get %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
